<h1> School Class Form </h1>

<%= form_for @school_class do |school_class| %>

<%= school_class.label 'Title' %>
<%= school_class.text_field :title %>

<%= school_class.label 'Room Number' %>
<%= school_class.number_field :room_number %>

<%= school_class.submit "Submit School Class Form" %>
<% end %>
